# Default ignored files
/shelf/
/workspace.xml

# --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- VS Code ---
.vscode/
.classpath
.project
.settings/
.factorypath
bin/

# --- Java Crash Logs ---
hs_err_pid*

# --- Mac / Windows System Files ---
.DS_Store
Thumbs.db

# --- Spring Boot ---
.help
/logs/
*.log